@import url(http://fonts.googleapis.com/css?Grand+Hotel);
/*Bentham
Almendra
Cinzel
family=Poller+One*/
article{
	display: inline-block;
}
body{
	background: white;
	margin:0px;
	padding:0px;
    height: auto;
}

span{
	color: #228B22;
	font-weight: bold;
}

#container{
	max-width: 1000px;
	height: auto;
	margin: 0px auto;
	text-align: center;
}


/*===============================================================*/
/** 
	Logo y titulo de la pagina web enmarcado
	en la etiqueta de html5 header. <img>, <h1>		
 */
header{
	width: 100%;
	min-height: 90px;
	margin: 0px;
	padding-top:0px;
	padding-bottom:0px;
	
}

header h1{
	color: #000000;
	text-align: center;
	display: inline-block;
	font-family: Grand Hotel;
	font-size: 30px;

}
.izq{
	float: left;
	max-width: 100%;
	margin-left: 20px;
	margin-right: 10px;
	/*background: red;*/

}
.der{
	float: left;
	max-width: 100%;
	margin-right: 10px;
	margin-left: 40px;
}
/*===============================================================*/

/*===============================================================*/
/* class para el contenedor de la informacion de la pagina*/
#information{
	width: 100%;
	margin-bottom: 50px;
	text-align: left;
	
}
#information p{
	color: black;
	font-size: 16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.formizq{
	width: 50%;
	height: auto;
	float: left;
	
}
.formizq table{
	margin-left: 20px;
}

.formder{
	width: 50%;
	height: auto;
	float: left;	
}
.mainimage{
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.mainimage img{
	max-width: 100%;
	height: auto;
}


/*===============================================================*/

/*===============================================================*/
/**
	Pie de pagina usando la etiqueta de html5 <footer>
 */
footer {
    width:100%;
    height:70px;
    text-align: center;
	background: #800000;
	position: fixed;
    bottom:0;
	left:0;
}

footer p{
	color: white;
	font-size: 12px;
	font-family: Helvetica;
	text-align: center;
	margin: 0px;

}
footer a{
	text-decoration: none;
	color: white;
}

/*===============================================================*/

/*===============================================================*/
/**
 nav estilo para el social media en el footer
 */
nav{
	text-align: center;
}
nav ul{
	font-size:0;
	padding:0;
	
}
nav ul li{
	display: inline-block;
	width: 34px;
	line-height:20px;
	padding:5px 10px;
	vertical-align: top;
	
}

/*===============================================================*/
#nav{
	display: inline-block;
	height: 100%;
	width: auto;
	background: gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	opacity: 0.7;
	/*filter:alpha(opacity=60);*/
	margin-left: 5px;
	margin-right: 5px;
}

#nav>li{
	display: inline-block;
	margin-top: 5px;
}


#nav>li>a{
	display: inline-block;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
	padding: 10px;
	border-radius: 10px;
	margin-right: 40px;
}

#nav>li>a:hover,
#nav>li.current-menu-item>a{
	color: #fff;
	background: #000;
}

/*Boton de enviar*/
.submit-button { 
	background: #57A02C;
	
	border:solid 1px #86CC50;
	
	border-radius:5px;

		-moz-border-radius: 5px; 
		
		-webkit-border-radius: 5px;
	
	color:#FFF;
	
	cursor:pointer;
	
	font-size:13px;
	
	margin-left:130px;
	
	padding:3px 8px;
}
.submit-button:hover { background:#82D051 }

.error {background: #ffcece; border:solid 1px #df8f8f; }

.success {background: #d5ffce; border:solid 1px #9adf8f; }

.error, .success {
	
	border-radius:5px;

		-moz-border-radius: 5px; 
		
		-webkit-border-radius: 5px;
		
	color:#333;
	
	padding:9px;
	
	margin-bottom:10px;
}

.CURSIVA {
	font: italic 18px Georgia, "Times New Roman", Times, serif;;
}


/* FIN NAVIGATION *****************************************************/

/*===============================================================*/
/**
 media screen para el responsive design 
 */
@media screen and (max-width: 450px) {	
	header h1{
		font-size: 17px;
		
	}
	
	
}

@media screen and (max-width: 800px) {
	.der{
		float: none;
		margin: 0px;
	}
	.izq{
		text-align: center;
		margin: 0px;
		float: inherit;
	}
	#nav li{
		display: block;
	}

	footer{
		position: inherit;
	}
	#information p{
		font-size: 18px;
	}
	
	.formizq{
		width: auto;
	float: none;
		
	}
	
	.formder{
	width: auto;
	float: none;
	margin-left: 15px;
	
}
	
}
/*===============================================================*/
